html {
    font-size: 20px;
    text-align: center;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.konteiner {
    display: flex;
    padding: 10px;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-item-align: center;
}
.loeng {
    width: 300px;
    height: 300px;
    background-color: bisque;
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-around;
    padding: 10px;   
}
.sisu {
    font-size: 1rem;
    text-align: justify;
    justify-content: space-evenly;
    font-weight: normal;
}
.link {
    font-size: 1rem;
    font-weight: normal;
    text-align:end;
}